*, *::after, *::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
width: 600px;
margin: 0 auto;

}

h1 {
  padding-left: 100px;
  font-size: 2rem;
  margin: 30px 0px;
  color: darkslategrey;
}

h2, h3, h5 {
  text-shadow: 2px 2px darkslateblue;
}

h2 {
font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}


main {
  max-width: 400px;
  

}

form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding: 10px;
  border: 1px solid black;
}

input, textarea, select {
  margin-bottom: 20px;
  padding: 5px;
}

#form-btn {
  background-color: lightslategray;
  color: white;
  font-size: 1.2rem;
  border-style: none;
  padding: 10px;
}

.card {
  
  border: 2px solid  slategray;
  border-radius: 10px;;
  text-align: center;
  /* background-color: rgb(233, 233, 111); */
  color: darkslategray;
  box-shadow: 5px 5px lightgrey;
  
  object-fit: cover;
  background-size: 600px;
  
}
